@import "base/variables";
* {
  font-family: "Museo Sans Cyrl", sans-serif;
}
.container {
  max-width: 940px;
  margin: 0 auto;
}

//Стили прелоадера
#preloader {
  position: absolute;
  height: 90px;
  width: 90px;
  left: 0; right: 0;
  top: 0; bottom: 0;
  margin: auto;
  border: 5px solid rgba(0,0,0,0.05);
  border-top-color: #ff0f0f;
  border-radius: 50%;
  animation: preload 1000ms infinite linear;
	transition: all 200ms;
}
@keyframes preload {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
//


// Стили кнопки вверх
.scrollToTop{
	position: fixed;
	bottom: 60px;
	right: 50px;
	border-radius: 4px;
	display: none;
	font-size: 32px;
	height: 50px;
	width: 50px;
	z-index: 1001;
	color: #fff;
	transition: all .5s;
	background-color: #ff0f0f;
	border: 0;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    text-decoration: none;
    outline: none;
    color: #ff0f0f;
    border: 1px solid #ff0f0f;
  }
}
//




@import "blocks/one-section";
@import "blocks/header";
@import "blocks/buttons";
@import "blocks/advantages";
@import "blocks/titles";
@import "blocks/consultation";
@import "blocks/carousel";
@import "blocks/catalog";
@import "blocks/feed";
@import "blocks/footer";


@import "blocks/forms";
@import "blocks/modal";

@import "base/media";