.advantages {
	background-color: #f6f6f6;
	padding: 70px 0 80px;

	&__blocks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 65px;
	}
	&__block {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 245px;
	}
	&__subtitle {
		color: #0d0d0d;
		font-size: 18px;
		font-weight: 700;
		margin-top: 38px;
		margin-bottom: 0;
	}
	&__descr {
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 300;
		text-align: center;
		margin-top: 36px;
		margin-bottom: 0;
		a {
			color: #ff0000;
			text-decoration: underline;
		}
	}
}