.catalog {
	padding-bottom: 100px;

	&__tabs {
		margin-top: 70px;
		list-style-type: none;
		display: flex;
		justify-content: center;
		padding: 0;
		margin-bottom: 0;
	}
	&__tab {
		width: 220px;
		height: 50px;
		border: 2px solid #d0d0d0;
		color: #6b6b6b;
		font-size: 18px;
		line-height: 18px;
		font-weight: 500;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
		transform: skewX(-25deg);
		margin: 0 5px;
		cursor: pointer;

		div {
			transform: skewX(25deg);
		}
		&_active {
			background-color: #c70101;
			color: #ffffff;
			border: none;
		}
	}
	&__content {
		margin-top: 60px;
		display: none;
		justify-content: space-between;
		flex-wrap: wrap;
		&_active {
			display: flex;
		}
	}

	&-item {
		width: 300px;
		min-height: 440px;
		border: 2px solid #e8e8e8;
		padding: 20px 20px 26px;
		margin-bottom: 20px;
		overflow: hidden;
		&__img {
			max-width: 100%;
			height: 200px;
			display: block;
			margin: 0 auto;
		}
		&__subtitle {
			margin-top: 20px;
			color: #0d0d0d;
			font-size: 16px;
			font-weight: 700;
			text-align: center;
			margin-bottom: 0;
		}
		&__descr {
			margin-top: 16px;
			color: #0d0d0d;
			font-size: 14px;
			font-weight: 500;
			text-align: center;
			margin-bottom: 0;
		}
		&__link {
			margin-top: 17px;
			color: #c70101;
			font-size: 14px;
			font-weight: 500;
			text-decoration: underline;
			display: block;
			text-align: center;
			&:hover {
				color: #c70101;
			}
		}
		.line {
			margin-top: 19px;
			margin-bottom: 21px;
			height: 1px;
			background-color: #e8e8e8;
		}
		&__footer {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&__old-price {
			color: #555555;
			font-size: 14px;
			line-height: 14px;
			font-weight: 300;
			text-decoration: line-through;
			margin-bottom: 0;
		}
		&__new-price {
			color: #050505;
			font-size: 20px;
			line-height: 20px;
			font-weight: 700;
			margin-top: 9px;
			margin-bottom: 0;
		}
		&__mini {
			width: 131px;
			height: 40px;
			border-radius: 5px;
			background-color: #c70101;
			border: none;
			color: #ffffff;
			font-size: 14px;
			font-weight: 500;
			text-transform: uppercase;
		}

		&__wrapper {
			display: flex;
			width: calc(200% + 40px);
		}
		&__content {
			width: 50%;
			margin-right: 0px;
			transform: translateX(-100%);
			transition: all 0.5s;
			&_active {
				transform: translateX(0%);
				margin-right: 20px;
			}
		}
		&__list {
			position: relative;
			width: 50%;
			margin-left: 20px;
			transform: translateX(0%);
			padding-right: 20px;
			transition: all 0.5s;
			padding-left: 19px;
			margin-bottom: 0;
			list-style-type: none;
			&_active {
				transform: translateX(-100%);
				margin-right: 0px;
			}
			li {
				position: relative;
				color: #555555;
				font-size: 14px;
				font-weight: 300;
				margin-bottom: 20px;
				&::before {
					content: "";
					position: absolute;
					width: 5px;
					height: 5px;
					background-color: #c70101;
					left: -14px;
					top: 7px;
				}
			}
		}
		&__back {
			position: absolute;
			color: #c70101;
			font-size: 14px;
			font-weight: 500;
			text-decoration: underline;
			bottom: 0;
			left: 50%;
			transform: translateX(calc(-50% - 19px));
			display: block;
			text-transform: uppercase;
			&:hover {
				color: #c70101;
			}
		}
	}
}